<ion-card [ngClass]="project.category" (click)="engaged = true">
  <ion-img src="/assets/cover/{{project.image}}.jpg"></ion-img>
  <ion-card-header>
    <ion-card-subtitle>
      <span class="target">{{project.progress}} of {{project.target}}</span>
      <ion-progress-bar [color]="getCategoryColor()" [value]="project.progress / project.target"></ion-progress-bar>
    </ion-card-subtitle>
    <ion-card-title>
      {{project.name}}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>{{project.description}}</p>

    <div class="avatar-container">
      <ion-avatar *ngFor="let av of project.avatars">
        <img src="/assets/avatars/{{av}}.jpg">
      </ion-avatar>

      <ion-img class="category-icon" src="/assets/icon/{{project.icon}}.png"></ion-img>
    </div>

    <div class="engaged-section" *ngIf="engaged">
      <strong>Vote</strong>
      <div class="button-row">
        <ion-button (click)="vote(1)">1</ion-button>
        <ion-button (click)="vote(10)">10</ion-button>
        <ion-button (click)="vote(100)">100</ion-button>
        <ion-button (click)="vote(1000)">1000</ion-button>
      </div>

      <span>Next Rank</span>
      <div class="rank-info">
        <div class="rank-image-container">
          <ion-img class="rank-image" src="/assets/badges/silver.png"></ion-img>
          <img class="rank-image-overlay" src="/assets/badges/{{project.icon}} badge.png">
        </div>
        <div class="rank-progress-container">
          {{rankProgress}} / 500
          <ion-progress-bar color="success" [value]="rankProgress / 500"></ion-progress-bar>
        </div>
      </div>
    </div>
  </ion-card-content>
</ion-card>