$energy-color: #10dc60;
$infrastructure-color: #3880ff;

ion-card {
    border-top: 4px solid;

    &.energy {
        border-color: $energy-color;
        ion-icon.category-icon {
            color: $energy-color;
        }
        .progress {
            background: $energy-color;
        }
    }
    &.infrastructure {
        border-color: $infrastructure-color;
        ion-icon.category-icon {
            color: $infrastructure-color;
        }
        .progress {
            background: $infrastructure-color !important;
        }
    }
}

.avatar-container {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-flow: row nowrap;

    ion-avatar {
        height: 30px;
        width: 30px;
        margin-right: 5px;
    }

    // ion-icon {
    //     margin-left: auto;
    //     height: 40px;
    //     font-size: 2em;
    // }

    .category-icon {
        height: 30px;
        width: 30px;
        margin-left: auto;
    }
}

.card-content {
  padding-top: 0px;
}

span.target {
    float: right;
}