.navigation {
    display: flex;
    flex-flow: row wrap;
}

.nav-item {
    cursor: pointer;
    flex: 1 1;
    margin: 10px;
    text-align: center;

    img {
        display: block;
    }

    a {
        text-align: center;
    }
}
