<ion-header>
  <ion-toolbar>
    <ion-title>
      Ranking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <app-badge [icon]="'stad'"></app-badge>
      <div class="right-side-of-badge">
        <p>Duurzame steden en gemeenschappen</p>
        <div class="share-container">
          <span>Share on</span>
          <ion-img src="/assets/shares.png"></ion-img>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <app-badge [icon]="'hartslag'"></app-badge>
      <div class="right-side-of-badge">
        <p>Gezondheid en welzijn</p>
        <div class="share-container">
          <span>Share on</span>
          <ion-img src="/assets/shares.png"></ion-img>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <app-badge [icon]="'energie'"></app-badge>
      <div class="right-side-of-badge">
        <p>Betaalbare en schone energie</p>
        <div class="share-container">
          <span>Share on</span>
          <ion-img src="/assets/shares.png"></ion-img>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <app-badge [icon]="'kubussen'"></app-badge>
      <div class="right-side-of-badge">
        <p>Industrie, innovatie en infrastructuur</p>
        <div class="share-container">
          <span>Share on</span>
          <ion-img src="/assets/shares.png"></ion-img>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <app-badge [icon]="'eten'"></app-badge>
      <div class="right-side-of-badge">
        <p>Geen honger</p>
        <div class="share-container">
          <span>Share on</span>
          <ion-img src="/assets/shares.png"></ion-img>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
